/* 
    NOTE: be aware that using google fonts might 
    require you to make changes to you to update
    your privacy disclaimer under the GDPR
*/

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    /* material colors */
    --primary: #00897b;
    --primary-light: #4ebaaa;
    --primary-dark: #005b4f;

    --secondary: #c2185b;
    --secondary-light: #fa5788;
    --secondary-dark: #8c0032;
    
    --green: #43a047;
    --red: #e53935;
    /* text colors */
    --text-dark: #000;
    --text-light: #fff;

    /* byes font */
    --material-fonts: 'Roboto', sans-serif;


    /* the rest*/

    --somewhat-serious-boxshadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    --somewhat-serious-elevated-boxshadow: 3px 5px 10px 0px #bbb;
    --hard-boxshadow: 0px 1px 1px 1px #505050bb;
}


#supporters-card-container .innovaphone-root-visitenkarten {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 12px;
    color: var(--text-dark);
    line-height: 1.3;
    font-family: var(--material-fonts);
    background-color: white;
    left: 0;
    width: 450px;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 230px;
    position: relative;
    display: inline-block;
    margin: 20px;
    -webkit-box-shadow: var(--somewhat-serious-boxshadow);
    box-shadow: var(--somewhat-serious-boxshadow);
    padding: 5px;
    float: left;
    transition: all 0.3s;
    box-shadow: inset 0 -150px 0 0 var(--primary-light),var(--somewhat-serious-boxshadow);
}


#supporters-card-container .innovaphone-content {
    height: auto;
    float: none;
    margin-top: 0px;
    visibility: visible;
    opacity: 1;
    background-color: none;
    position: relative;
    display: inline-block;
    padding-left: 10px;
}

.innovaphone-image {
    width: 145px;
    float: left;
    position: relative;
    height: 130px;
    display: inline-block;
    width: auto;
}

.innovaphone-image img {
    position: relative;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: 100%;
}


#supporters-card-container .innovaphone-icons {
    height: 56px;
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


/* credit where credit is due, but as of now it's in the way of the design, thus display:none;*/
#supporters-card-container .innovaphone-copy {
    position: absolute;
    bottom: 1.5%;
    right: 2%;
    bottom: 2px;
    display: none;
}


/* not really the best way to place the tab on the bottom, let's find a better solution */
/*
#supporters-card-container .innovaphone-tab {
    width: 100%;
    height: 56px;
    background-color: #aaaaaa;
    float: none;
    border: 0px;
    position: relative;
    margin-top: calc(10% - 5px);
    
}
*/

#supporters-card-container .innovaphone-tab {
    width: calc(100% - 10px);
    height: 35px;
    background-color: var(--byes-blue);
    float: none;
    bottom: 5px;
    position: absolute;
}

#supporters-card-container .innovaphone-icons {
    height: 100%;
    width: 100%;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
}


#supporters-card-container .innovaphone-icons > div {
    text-align: center;
    display: inline-block;
}

#supporters-card-container .innovaphone-icons__item {

    width: 30px;
    height: 30px;
    top: 0px;
    margin-top: 2px;
    margin-bottom: 0;
    margin-left: calc(50% - 12px);
    /* bad hack for ALMOST center alignment float-left to prevent weird white-space offset -> TODO */
    margin-right: auto;
    display: block;
    border-radius: 50%;

    background-color: var(--secondary);
    text-align: center;
    position: relative;
    opacity: .6;
    cursor: default;
    float: left;
    /* filter: saturate(0.5); */
    box-shadow: var(--hard-boxshadow);

}


.innovaphone-icons__item img {

    width: 15px;
    margin-top: 8px;
    /* the icons themselves are not 100% centered, thus the mail icon looks like it's 2px off to the top, while the cam icon looks centered -> TODO */
    -webkit-transition: .3s ease all;
    -o-transition: .3s ease all;
    transition: .3s ease all;
}



.innovaphone-tooltip {
    width: 120px;
    min-height: 40px;
    background-color: #006750;
    background-color: #dedede;
    position: absolute;
    top: 130%;
    left: calc(-200% + 12px);
    color: #fff;
    color: #474747;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 300;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 11px;
    padding-bottom: 10px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: .4s all ease;
    -o-transition: .4s all ease;
    transition: .4s all ease;
}


.innovaphone-tooltip:after {
    left: calc(50% - 7px);
    top: -3px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 103, 80, 0);
    border-left-color: #006750;
    border-left-color: #dedede;
    border-width: 10px;
    margin-top: -14px;
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}


.innovaphone-tab__supporter-img.available {
    border-left: 6px solid var(--green);
    border-top: 6px solid var(--green);
    border-bottom: 6px solid white;
    border-right: 6px solid white;
    border-radius: 100%;
}

.innovaphone-tab__supporter-img.offline {
    border-left: 6px solid var(--red);
    border-top: 6px solid var(--red);
    border-bottom: 6px solid white;
    border-right: 6px solid white;
    border-radius: 100%;
}

.innovaphone-content__status__indicator.offline {
    background-color: var(--red);
}

.innovaphone-content__status__indicator.available {
    background-color: var(--green);
}



#supporters-card-container > .innovaphone-root-visitenkarten > .innovaphone-content > .innovaphone-content__headline > strong {
    color: var(--text-dark);
    padding-top: 5px;
    font-size: 1.1em;
    padding-bottom: 10px;
    display: block;
    word-break: break-word;
    text-align: center;
}


/* in call */

.innovaphone-active-layer {
    width: calc(100% - 10px);
    height: 220px;
    background: #dedede;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
}

#supporters-card-container #innovaphone-widget-video-remote {
    width: 100%;
    max-height: 170px;
    position: absolute;
    border-style: solid;
    border-width: 0px;
    border-color: #006068;
}



#supporters-card-container .innovaphone-active-layer__name {
    padding: 0;
    margin: 0;
    font-size: 14px;
    float: none;
}

.innovaphone-active-layer__supporter {
    height: 45px;
    width: calc(100% - 170px);
    top: 0;
    position: relative;
    margin-top: 0px;
    float: right;
    color: var(--text-light);
}
