
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    transition: all 0.3s;
}

body {
    padding: 0;
    margin: 0;
}

#topMenu {
    height: 45px;
    width: calc(100% - 40px);
    text-align: center;
    background-color: white;
    color: #777;
    margin: 0;
    box-shadow: 0 2px 0 0 #444;
    font-family: 'Roboto', sans-serif;
}

#topMenu li {
    min-width: 120px;
    display: inline-block;
    height: 100%;
    line-height: 40px;
}

#topMenu li:nth-of-type(1) {
    min-width: 100px;
    display: inline-block;
    height: calc(100% - 10px);
    line-height: 37px;
    font-size: 1.2em;
    float: left;
    /* padding-left: 10px; */
    background-color: #444;
    color: white;
    font-weight: bold;
    border: 4px solid white;
}

#topMenu li:not(:nth-of-type(1)):hover {
    color: #444;
    background-color: white;
    box-shadow: inset -0 -5px 0 0 #444;
}
